﻿@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,300);

body {
    font-family: 'Segoe UI', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* overflow: hidden; */

    background-color: #eee;
}

span {
   
}

/* Top Bar */

#top_bar {
  font-family: Titillium Web, Segoue UI, sans-serif;
  text-rendering: optimizeLegibility;
  padding: 0 0.5rem;
}

#top_bar ul.dropdown.menu li {
  outline: 0 !important;
}

.menu > li {
  line-height: 40px;
}

.menu > li:not(:first-child){
  border-left: 1px solid rgba(0,0,0,0.05);
}

.menu > li > a,
.menu > li > span,
.menu > li > div,
#top_bar .menu-text {
  padding: 0 .75rem 0;
  line-height: 40px;
}

.menu > li > a {

}

.menu > li > a:hover {
  background: rgba(0,0,0,0.05);
}

.dropdown.menu .has-submenu.is-down-arrow a {
  padding-right: 2rem;
}

.dropdown.menu .has-submenu.is-down-arrow > a::after {
  top: 16px;
  right: 13px;
}

.menu > li > div {
  display: inline-block;
  line-height: 1rem;
}

#top_bar .menu-text {
  font-weight: 400;
}

#top_bar ul.dropdown.menu > li.last.has-submenu > ul.submenu {
    left: auto;
    right: 0;
}


/* Indicators & Icons */

body:not(.ui-game-loaded) .menu.indicators,
body .menu .in-game-only {
  opacity: 0;
}

body.ui-game-loaded .menu .in-game-only,
body.ui-game-loaded .menu.indicators {
  transition: opacity 1s;
  opacity: 1;
}

.menu.indicators > li:first-child > div {
   padding-left: 3px;
}

.menu.indicators > li > div > i {
  opacity: 0.25;
  padding-right: 3px;
  vertical-align: top;
}

.menu > li > a > i {
  color: #000;
  opacity: 0.66;
  line-height: 40px;
  vertical-align: top;
}

.menu > li > a > i:last-child {
  margin-right: 0;
}

.menu > li > a > i:hover {
  opacity: 1;
}

/* Intro Containers */

#intro_container {
    position: absolute;
    display: block;
    padding: 18px 24px;
    box-sizing: border-box;
    background-color: #eeeeee;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s .5s ease-out;
}

body.page-loaded #intro_container {
    opacity: 1;
}

body.ui-game-loaded #intro_container { 
    opacity: 0;
    transition: opacity .5s .75s ease-out;
}

#intro_container,
#intro_container * {
    /* color: #fff; */    
}

#canvas_container #game_canvas {
    display: block;
}